.navbar {
    background-color: forestgreen;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
}

.carousel-control {
    position: absolute; /* already here */
    top: 50%;
    color: black;
}

.right {
    left:60%;
}

.left {
    left:10%;
}

.right, .carousel-control-right .left {
    background-image: none;
}

#next, #prev {
    color: black;

}
